@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@using (Html.BeginForm("Index", "Email", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-floating col-md-4">
            <input type="email" class="form-control" name="ToEmail" />
        </div>
        <div class="form-floating col-md-2">
            <input type="file" class="form-control" name="fileToAttach" />
        </div>
        <div class="form-floating col-md-6">
            <input type="submit" value="Send Email" class="btn btn-success" />
        </div>
    </div>
}
@if (ViewBag.emailsentmessage != null)
{
    <div class="m-5">
        <label><h1 class="bg-success text-white">@ViewBag.emailsentmessage</h1></label>
    </div>
}
